# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
timber/.vs/timber/v17/.suo
timber/.vs/timber/v17/Browse.VC.db
timber/.vs/timber/v17/ipch/1fd7d884126f6774.ipch
timber/.vs/timber/v17/ipch/AutoPCH/144f4832bce9e04f/MACRO.ipch
timber/.vs/timber/v17/ipch/AutoPCH/32711ce9fdb65d3c/WINDOW.ipch
timber/.vs/timber/v17/ipch/AutoPCH/34dd0ee9ad5b680c/TEXTURE.ipch
timber/.vs/timber/v17/ipch/AutoPCH/3a2d0ed7494173d5/MAIN.ipch
timber/.vs/timber/v17/ipch/AutoPCH/49eed111564e12ed/WINDOW.ipch
timber/.vs/timber/v17/ipch/AutoPCH/6eabc9360baf98fe/TEXTS.ipch
timber/.vs/timber/v17/ipch/AutoPCH/9cf853dbd7812885/TEXTURE.ipch
timber/.vs/timber/v17/ipch/AutoPCH/a0e833032a315e2b/STDAFX.ipch
timber/.vs/timber/v17/ipch/AutoPCH/a3a7c36656092d09/ANIMATE.ipch
timber/.vs/timber/v17/ipch/AutoPCH/b269ab2c06dfdc33/TIMBER.ipch
timber/.vs/timber/v17/ipch/AutoPCH/c5fba66c45e5dedc/SPRITES.ipch
timber/.vs/timber/v17/ipch/AutoPCH/f50a4cba805b4d70/ANIMATE.ipch
timber/.vs/timber/v17/ipch/AutoPCH/ffcb900db7d00c47/MAIN.ipch
